.main {
  margin: 3rem auto;
  width: 90%;
  max-width: 40rem;
}

.footer{
  width: 100%;
  height: 300px;
  background-color: pink;
  display: grid;
  align-content: center;
  justify-content: center;
}